@font-face {
  font-family: Sonic;
  src: url('../Sonic.otf');
}

.centrado{
  position: absolute;
  transform: translate(-50%, -50%);
}
#solInf{
  top: 2.5em;
  left: 50%;
  font-size: 50px;
}
#textGral{
  top: 7em;
  left: 50%;
  font-size:30px;
}
#contact{
  top: 20em;
  left: 43%;
}
#moreInfo{
  top: 20em;
  left: 57%;
}
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:35px;
    right:40px;
}
.marginUlhome{
  margin-left:20%; 
}
.title{
  font-family:'Sonic';
  color:#fff;
  font-size: 330%;
}
.title2{
  font-family:'Sonic';
  color:red;
  font-size: 330%;
  -webkit-text-stroke: 1px #fff;
}
.title:hover{
  color:black;
  -webkit-text-stroke: 1px #fff;
}
.title2:hover{
  color:black;
}
#textNav{
  color:#fff;
  font-family: 'arial';
}
#textNav:hover{
  color:black;
  -webkit-text-stroke: 2px #fff;

}
.items{
  font-size: 120%;
}
.cuerpo {
  position: relative;
  display: inline-block;
  text-align: center;
}
#home{
  background-image: url(../img/fondoHead.jpg);
  width: 100%;
  height: auto;  
}
#imgHome{
  width: 100%;
}




  @media only screen and (max-width: 767px) {
    .mini{
      display: none;
      position: absolute;		

  }
  .quienes{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  #titleQuienes{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 1em;
    font-size: 30px;
    left: 50%;
    white-space: pre;
  }
  #titleQuienes2{
display: none;
  }
  #subtitleQuienes{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 6em;
    font-size: 14px;
    left: 50%;
    color: red;
  }
  #textoQuienes{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 9.5em;
    font-size: 14px;
    left: 50%;
    white-space:nowrap;
  }
  #textoQuienes2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 12em;
    font-size: 14px;
    left: 50%;
  }
  #textoQuienes3{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 16em;
    font-size: 14px;
    left: 50%;
  }

    .cuerpo {
      position: relative;
      display: inline-block;
      text-align: center;
    }

    #home{
      background-image: url(../img/fondoHead.jpg);
      width: 100%;
      height: auto;
      padding-top: 4%;
    }
    .title{
      font-family:'Sonic';
      color:#fff;
      font-size: 250%;
      
    }
    .title2{
      font-family:'Sonic';
      color:red;
      font-size: 250%;
      -webkit-text-stroke: 1px #fff;
    }
    .marginUlhome{
      margin-left:auto; 
    }
    .centrado{
      position:absolute;
      transform: translate(-50%, -50%);
    }
    #solInf{
      top: 20%;
      font-size:30px;
      left: 50%;
      white-space: pre;

    }
    #textGral{
      display: none;
    }
    #textGral1{
      top: 34%;
      font-size: large;
      left: 50%;
      white-space:nowrap;
    }
    #textGral2{
      top: 44%;
      font-size: large;
      left: 50%;
      white-space:nowrap;
    }
    #textGral3{
      top: 54%;
      font-size: large;
      left: 50%;
      white-space:nowrap;
    }
    #contact{
      top: 70%;
      left: 50%;
    }
    #moreInfo{
      top: 85%;
      left: 50%;
    }

    
   }
  @media (min-width:767px) and (max-width:1012px) {
    .grande{
      display: none;
      position: relative;		

  }
    
  .quienes{
    display: inline-block;
    text-align: center;
  }
  #titleQuienes{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 16em;
    left: 25%;
    font-size: 30px;
  }
  #titleQuienes2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 16em;
    left: 25%;
    font-size: 34px;
  }
  #subtitleQuienes{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35em;
    left: 25%;
    font-size: 15px;
    color:red;
  }
  #textoQuienes{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45em;
    left: 25%;
    font-size: 13px;
    text-align: center;
  }
  #textoQuienes2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47em;
    left: 25%;
    font-size: 13px;
    text-align: center;
  }
  #textoQuienes3{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 49em;
    left: 25%;
    font-size: 13px;
    text-align: center;
  }
.centrado{
  position: absolute;
  transform: translate(-50%, -50%);
}
#solInf{
  top: 1.5em;
  left: 50%;
  font-size: 40px;
  white-space: pre;

}
#textGral{
  top: 7em;
  left: 50%;
  font-size:20px;
}
#contact{
  top: 14em;
  left: 40%;
}
#moreInfo{
  top: 14em;
  left: 60%;
}

.marginUlhome{
  margin-left:20%; 
  
}
.title{
  font-family:'Sonic';
  color:#fff;
  font-size: 330%;
  
}
.title2{
  font-family:'Sonic';
  color:red;
  font-size: 330%;
  -webkit-text-stroke: 1px #fff;
  
}
.title:hover{
  color:black;
  -webkit-text-stroke: 1px #fff;

}
.title2:hover{
  color:black;
  
}
#textNav{
  color:#fff;
  font-family: 'arial';
}
#textNav:hover{
  color:black;
  -webkit-text-stroke: 2px #fff;

}

.items{
  font-size: 120%;
}
.cuerpo {
  
  position: relative;
  display: inline-block;
  text-align: center;

  }
  #home{
    background-image: url(../img/fondoHead.jpg);
    width: 100%;
    height: auto;
    
  }
  #imgHome{
    width: 100%;
  }
  #textGral1, #textGral2, #textGral3 {
    display: none;
  }
    
   }
  @media (min-width:1013px) and (max-width:1200px) {

  .grande{
    display: none;
    position: relative;		
  }
  .quienes{
    display: inline-block;
    text-align: center;
  }
  #titleQuienes{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 11em;
    left: 30%;
    font-size: 50px;
  }
  #titleQuienes2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 12em;
    left: 30%;
    font-size: 50px;
  }
  #subtitleQuienes{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30em;
    left: 30%;
    font-size: 20px;
    color:red;
  }
  #textoQuienes{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 44em;
    left: 30%;
    font-size: 15px;
    text-align: center;
  }
  #textoQuienes2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 46em;
    left: 30%;
    font-size: 15px;
    text-align: center;
  }
  #textoQuienes3{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48em;
    left: 30%;
    font-size: 15px;
    text-align: center;
  }
.centrado{
  position: absolute;
  transform: translate(-50%, -50%);
}
#solInf{
  top: 1.5em;
  left: 50%;
  font-size: 40px;
  white-space: pre;

}
#textGral{
  top: 7em;
  left: 50%;
  font-size:20px;
}
#contact{
  top: 14em;
  left: 40%;
}
#moreInfo{
  top: 14em;
  left: 60%;
}

.marginUlhome{
  margin-left:20%; 
  
}
.title{
  font-family:'Sonic';
  color:#fff;
  font-size: 330%;
  
}
.title2{
  font-family:'Sonic';
  color:red;
  font-size: 330%;
  -webkit-text-stroke: 1px #fff;
  
}
.title:hover{
  color:black;
  -webkit-text-stroke: 1px #fff;

}
.title2:hover{
  color:black;
  
}
#textNav{
  color:#fff;
  font-family: 'arial';
}
#textNav:hover{
  color:black;
  -webkit-text-stroke: 2px #fff;

}

.items{
  font-size: 120%;
}
.cuerpo {
  
  position: relative;
  display: inline-block;
  text-align: center;

  }
  #home{
    background-image: url(../img/fondoHead.jpg);
    width: 100%;
    height: auto;
    
  }
  #imgHome{
    width: 100%;
  }
  #textGral1, #textGral2, #textGral3 {
    display: none;
  }
   }
  @media (min-width:1201px){
    #textGral1, #textGral2, #textGral3 {
      display: none;
    }
    .grande{
      display: none;
      position: relative;		
    
    }
    .quienes{
      display: inline-block;
      text-align: center;
    }
    #titleQuienes{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 15em;
      left: 25%;
      font-size: 50px;
    }
    #titleQuienes2{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 16em;
      left: 25%;
      font-size: 50px;
    }
    #subtitleQuienes{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40em;
      left: 25%;
      font-size: 20px;
      color:red;
    }
    #textoQuienes{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 57em;
      left: 25%;
      font-size: 15px;
      text-align: center;
    }
    #textoQuienes2{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 59em;
      left: 25%;
      font-size: 15px;
      text-align: center;
    }
    #textoQuienes3{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 61em;
      left: 25%;
      font-size: 15px;
      text-align: center;
    }
   }

   