.contenedor h1{
    font-size: xx-large;
}
.contenedor{
    display: grid;
    grid-gap: 10px; 
    grid-template-columns: 1fr; /*3 columnas iguales*/
    grid-template-rows: repeat(4,auto);/*4 columnas de tamaño automatico*/
    grid-template-areas: "encabezado"
                          "menu"
                          "buscador"
                         "contenido ";
}

.contenedor .encabezado{
    grid-area: encabezado;}
.contenedor .menu{
    grid-area: menu;}
.contenedor .contenido{
    grid-area: contenido;}
.contenedor .buscador{
    grid-area: buscador;}

#buscar #busqueda {
    width: 98%; 
    height: 50px;
    border: solid #12203f; 
     
  }
  #buscar #buscar{
      width: 98%;
      height: 50px;
      border: solid #12203f;
  }
  .botonhistorial{
    
    border: solid #12203f;
  }
  .serie{
      width: 100%;
  }

  .contenido .series #verSerie {

     width: 100%;
  }
  .contenido .series #verSerie .serie{

    width: 100%;
 }
/* Dispositivos medianos (tabletas horizontales, 768 px y más) */
@media only screen and (min-width: 768px) {
    .contenedor{
        
        display: grid;
        /*grid-gap: 10px; bordes interiores*/
        grid-template-columns: 1fr,1fr; /* columnas iguales*/
        grid-template-rows: repeat(4,auto);/*4 columnas de tamaño automatico*/
        grid-template-areas: "encabezado encabezado"
                             "menu menu"
                             "buscador buscador"
                             "contenido contenido ";
    }
    
      article{
        width: 50%;
    }
    .serie{
        width: 50%;
    }

}

/* Dispositivos grandes (computadoras portátiles / computadoras de escritorio, 992 px y más) */
@media only screen and (min-width: 1024px) {
    .contenedor{
        
        display: grid;
        /*grid-gap: 10px; bordes interiores*/
        grid-template-columns: 1fr,1fr,1fr; /* columnas iguales*/
        grid-template-rows: repeat(4,auto);/*4 columnas de tamaño automatico*/
        grid-template-areas: "encabezado encabezado encabezado"
                              "menu menu menu"
                              "buscador buscador buscador"
                             "contenido contenido contenido";
    }
   
    .serie{
        width: 33%;
        font-size: 70%;  
    }
    
}

/* Dispositivos extra grandes (laptops y computadoras de escritorio grandes, 1200px y superiores) */
@media only screen and (min-width: 1200px) {
    .contenedor{
        
        display: grid;
        /*grid-gap: 10px; bordes interiores*/
        grid-template-columns: 1fr,1fr,1fr,1fr; /* columnas iguales*/
        grid-template-rows: repeat(4,auto);/*4 columnas de tamaño automatico*/
        grid-template-areas: "encabezado encabezado encabezado encabezado"
                             "menu menu menu menu"
                             "buscador buscador buscador buscador"
                             "contenido contenido contenido contenido ";
    }
    article{
        width: 25%;
    }
    .serie{
        width: 25%;
        font-size: 70%;  
        
      }
}


